#nd-cycler {
    padding: 0;
    margin: 0;
    width: 200%;
    height: 200%;
    position: fixed;
    top: -50%;
    left: -50%;
    z-index: -1;
}

#nd-cycler img {
    z-index: 1;
    color: transparent;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;

}

#nd-cycler img.active {
    z-index: 3
}

#nd-text {

}


@font-face {
    font-family: 'Assassin';
    src: url('fonts/assassin/Assassin.ttf.woff') format('woff'),
    url('fonts/assassin/Assassin.ttf.svg#Assassin') format('svg'),
    url('fonts/assassin/Assassin.ttf.eot'),
    url('fonts/assassin/Assassin.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: Assassin;
    font-size: 48px;
    color: red;
    background: url(image/bg_A.jpg);
    background-clip: text;
    text-fill-color: transparent;
}